# venv files
/**/services/**/venv
/**/services/**/bin
/**/services/**/include
/**/services/**/lib
/**/services/**/lib64
/**/services/**/shared
/**/services/**/config.json

shared/python/venv
shared/python/bin
shared/python/include
shared/python/lib
shared/python/lib64

# Byte-compiled / optimized / DLL files
.idea/
__pycache__/
.mypy_cache/
*.py[cod]

# .env files
/**/*.env
/**/env.sh
/**/*.env.sh

# Config json flies
/**/*.config.json

# Docker compose data folders
/**/docker-compose/**/certbot-data
/**/docker-compose/**/portainer-data
/**/docker-compose/**/postgres-data
/**/docker-compose/**/redis-data

# Certificates
/**/*.pem
/**/*.crt
/**/*.key
/**/*.srl
/**/*.csr

# Shared Folder
/services/**/shared
/shared/**/shared

# Data
/data