include globals.conf;


http {
    include http.conf;
    include https.conf;
    include iot_scraper.conf;
    include utilities_scraper.conf;
    include weather_scraper.conf;
    include proxy.conf;
}