server {
    listen ${ports.http};
    listen [::]:${ports.http};
    # listen ${ports.https} ssl http2;
    # listen [::]:${ports.https} ssl http2;

    server_name ~^${subdomains.scrapers.utilities}.*$;
    resolver 127.0.0.11;

    location / {
        proxy_pass $scheme://${containers.scrapers.utilities}:${ports.scrapers.utilities};

        include proxy.conf;
    }
}