include globals.conf;


http {
    include http.conf;
    include https.conf;
    include scrapers/iot_scraper.conf;
    include scrapers/utilities_scraper.conf;
    include scrapers/weather_scraper.conf;
    include portainer.conf;
}