server {
    listen ${ports.https} default_server ssl http2;
    listen [::]:${ports.https} ssl http2;

    server_name ~^${subdomains.weather_scraper}.*$;
    resolver 127.0.0.11;

    location / {
        proxy_pass $scheme://${containers.weather_scraper}:${ports.weather_scraper};

        include proxy.conf;
    }
}