server {
    listen ${ports.http};
    listen [::]:${ports.http};
    # listen ${ports.https} ssl http2;
    # listen [::]:${ports.https} ssl http2;
    
    server_name ~^${subdomains.apis.utilities}.*$;
    resolver 127.0.0.11;

    location / {
        proxy_pass $scheme://${containers.apis.utilities}:${ports.apis.utilities};

        include proxy.conf;

        access_log off;
    }
}