include globals.conf;


http {
    include http.conf;
    include https.conf;
    
    server {
        listen ${ports.https} default_server ssl http2;
        listen [::]:${ports.https} ssl http2;

        resolver 127.0.0.11;

        location / {
            proxy_pass $scheme://${containers.frontend}:${ports.frontend};

            include proxy.conf;
        }
    }

    include portainer.conf;
}