server {
    listen ${ports.http};
    listen [::]:${ports.http};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    # location / {
    #     return 301 ${scheme}s://$host$request_uri;
    # }
}
