server {
    listen ${ports.http};
    listen [::]:${ports.http};
    # listen ${ports.https} ssl http2;
    # listen [::]:${ports.https} ssl http2;
    
    server_name ~^${subdomains.utilities_api}.*$;
    resolver 127.0.0.11;

    location / {
        proxy_pass $scheme://${containers.utilities_api}:${ports.utilities_api};

        include proxy.conf;
    }
}